@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poetsen One', sans-serif;
}
  .poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .resume {
    width: 80%;
    margin: 50px auto;
  }
  
  .resume h1 {
    margin-bottom: 10px;
   
  }
  
  .resume h2 {
    margin-top: 20px;
    
  }
  
  .resume p {
    margin: 5px 0;
    color: #666;
  }
  
  .resume ul {
    list-style-type: none;
    padding: 0;
  }
  
  .resume ul li {
    margin-bottom: 5px;
    color: #666;
  }
  
  @media screen and (max-width: 750px) {
    .resume {
        width: 90%;
        margin: 30px auto;
    }

    .resume h1 {
        margin-bottom: 5px;
        font-size: 20px;
    }

    .resume h2 {
        margin-top: 15px;
        font-size: 18px;
    }

    .resume p {
        margin: 3px 0;
        font-size: 14px;
    }

    .resume ul li {
        margin-bottom: 3px;
        font-size: 14px;
    }
}
