body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffdead;
    letter-spacing: 1px; /* Ajustando o espaçamento entre as letras */
    word-spacing: 0px; /* Ajustando o espaçamento entre as palavras */
}

/* Seu outro CSS continua abaixo */


header {
    background-color: brown;;
    color:  white;;
    padding: 20px;
    text-align: center;
}


h2 {
    text-align: center;
    color: #007bff;
}



.project h3 {
    text-align: center; /* Justifica o texto dentro do projeto */
    margin-top: 0;
}

.project p {
    text-align: justify; /* Justifica o texto dentro do projeto */
    margin-bottom: 0;
}

#p1 {
    text-align: center;
    margin-bottom: 0;
}

/* Media Query para telas com largura máxima de 750px */
@media (max-width: 750px) {
    .container {
        width: 90%; /* Alterando a largura do container para 90% */
        margin: 20px auto;
    }
    h1 {
        margin-bottom: 5px;
        font-size: 16px;
    }
    h4 {
        margin-top: 15px;
        font-size: 12px;
    }
    p {
        margin-top: 15px;
        font-size: 12px;
    }
    .resume p {
        margin: 3px 0;
        font-size: 14px;
    }
}
